
<div class="row mt-5 mb-5">
    <div class="card mb" style="border: 2px solid black;">
      <div class="row">
        <div class="col-2">
          <div style= "height: 120px; width: 120px; border: 1px solid black;" class="mb-2 mt-2">
              <img src="" class="img-fluid "   alt="Avatar">
          </div>
          <input class="form-control" type="number" value="5" placeholder="Likes" aria-label="default input example">
        </div>
          <div class="col-9">
            <div class="d-flex flex-column justify-content-between" style = "height: 100%;">
              <p class="card-text">{{answer.text}}</p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Correct !
                </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>